@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

* {
  cursor: url('./cursor.cur'), auto !important;
}

body {
  background: #000000;
}

.hover-glow {
  transition: all 0.35s ease;
}

.hover-glow:hover {
  transform: scale(1.05);
  color: #05D5FF;
  text-shadow:
    0 0 5px rgba(5, 213, 255, 0.3),
    0 0 9px rgba(5, 213, 255, 0.3);
}

.signup-input {
  @apply w-full px-4 py-2 rounded-lg border border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-[#007A8F] focus:border-[#007A8F] transition-all;
}

.login-input, .chat-input {
  @apply w-full px-4 py-2 border border-gray-300 rounded-lg bg-black/20 text-white shadow-sm focus:outline-none focus:ring-2 focus:ring-[#007A8F] focus:border-[#007A8F] transition-all;
}

.nav-connect-btn {
  @apply px-5 py-2 text-white font-semibold rounded-full bg-[#2A6C76] hover:bg-[#358A96] transition-all duration-300 hover:scale-105 hidden md:block;
}