@import "tailwindcss";

* {
    cursor: url('./public/cursor2.cur'), auto !important;
}

body {
    background: #000000;
}

.hover-glow {
  transition: all 0.35s ease;
}

.hover-glow:hover {
  transform: scale(1.05);
  color: #05D5FF;
  text-shadow: 
    0 0 5px rgba(5, 213, 255, 0.7),
    0 0 9px rgba(5, 213, 255, 0.7);
}