@import "tailwindcss";

body {
    cursor: url('./public/cursor2.cur'), auto;
    background-color: #000000;
}

button {
    cursor: url('./public/cursor2.cur'), pointer;
}

form input, form select, form textarea {
    cursor: url('./public/cursor2.cur'), text;
}